<?xml version="1.0" encoding="utf-8"?>
<SampleMetadata>
        <ID>0B55871F-7264-4F32-8425-9352002CE3FA</ID>
        <IsFullApplication>false</IsFullApplication>
        <HideZip>true</HideZip><Level>Beginning</Level>
        <Tags>Graphics, Games, UrhoSharp</Tags>
        <SupportedPlatforms>Android, iOS, tvOS, Windows, Mac</SupportedPlatforms>
        <LicenseRequirement>Indie</LicenseRequirement>
        <Gallery>true</Gallery>
        <Brief>HelloWorld written in Urho.</Brief>
</SampleMetadata>
<packages>
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>